
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="/stylesheets/style.css"><!-- Optional: link your CSS -->
</head>
<body>
    <h1>Oops! Something went wrong.</h1>
    <p><%= message %></p>
    <a href="/">Go back home</a>
</body>
</html>
