/* CSS Styling For Buttons */

/*Default Button Red */

.default-btn {
  background-color: #1da1f2 !important;
  border: #0072a3;
  border-radius: 0.15rem;
  box-shadow: 0 0px 0px #0072a3;
  font-family: "Montserrat" !important;
  color: #fff;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-align: center;
  padding: calc(0.5rem - 3px) calc(1.5rem - 2px) calc(0.5rem - 1px);
  transition: background-color 0.25s ease, color 0.25s ease;
}
.default-btn:hover {
  background-color: #00567a;
  background-color: var(--clr-btn-primary-hover-bg-color, #00567a);
  color: #e3f5fc;
}
.default-btn:active {
  box-shadow: 0 0.1rem #179bd3 inset;
  box-shadow: 0 0.1rem 0 0 var(--clr-btn-primary-box-shadow-color, #179bd3)
    inset;
}
.default-btn:focus {
  box-shadow: 0 0.1rem #179bd3 inset;
  box-shadow: 0 0.1rem 0 0 var(--clr-btn-primary-box-shadow-color, #179bd3)
    inset;
  text-decoration: none;
  z-index: 2;
}

/* Default Button With Red Outline */

.default-btn.secondary {
  background-color: rgba(0, 0, 0, 0);
  border-color: #d52b1e;
  box-shadow: none;
  color: #d52b1e;
}
.default-btn.secondary:hover {
  background-color: #fbeae9;
  color: #d52b1e;
}
.default-btn.secondary:active {
  background-color: rgba(0, 0, 0, 0) !important;
  border-color: #8a1f17 !important;
  color: #8a1f17 !important;
}
.default-btn.secondary:focus {
  background-color: rgba(0, 0, 0, 0);
  border-color: #d52b1e;
  box-shadow: 0 0 0 3px rgba(33, 33, 33, 0.6);
  color: #d52b1e;
  outline: 3px solid rgba(0, 0, 0, 0);
}
.default-btn svg {
  fill: currentColor;
  margin-right: 11.5px;
  vertical-align: -5%;
}
