/* CSS Styling for Lilly Text Box */

.formcontrol-textbox {
  display: block !important;
  width: 100% !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 2 !important;
  font-family: "Montserrat" !important;
  color: #212529 !important;
  background-clip: padding-box !important;
  appearance: none;
  transition: none !important;
  box-sizing: border-box !important;
  border: 1px solid #9e9e9e;
  border-radius: 0.1875rem;
  height: 2.5rem;
  padding: calc(0.5rem - 1px) calc(1rem - 1px);
}

.form-control-textarea.error,
.formcontrol-textbox.error,
.formcontrol-textbox-withSideText.error,
.text-area-custom-margin-large.error,
.text-area-custom-margin-large-expand.error,
.checkbox-contaier
  .span-custom-margin
  input[type="checkbox"].error
  + label:after,
.radio-button-container
  input[type="radio"].error
  + label
  svg
  circle:first-child {
  stroke: #ef4a5f;
  stroke-width: 2px;
  background-image: none;
  font: 400 0.875rem/1.5rem Roboto, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 500;
  background-color: rgba(239, 74, 95, 0.1) !important;
  border-color: #ef4a5f !important;
}

.formcontrol-textbox.error,
.formcontrol-textbox-withSideText.error {
  font: 400 0.875rem/1.5rem Roboto, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 500;
  background-color: rgba(239, 74, 95, 0.1);
  border-color: #ef4a5f;
} /* CSS Styling for Lilly Text Box */

.formcontrol-textbox {
  display: block !important;
  width: 100% !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 2 !important;
  font-family: "Montserrat" !important;
  color: #212529 !important;
  background-clip: padding-box !important;
  appearance: none;
  transition: none !important;
  box-sizing: border-box !important;
  border: 1px solid #9e9e9e;
  border-radius: 0.1875rem;
  height: 2.5rem;
  padding: calc(0.5rem - 1px) calc(1rem - 1px);
}

.form-control-textarea.error,
.formcontrol-textbox.error,
.formcontrol-textbox-withSideText.error,
.text-area-custom-margin-large.error,
.text-area-custom-margin-large-expand.error,
.checkbox-contaier
  .span-custom-margin
  input[type="checkbox"].error
  + label:after,
.radio-button-container
  input[type="radio"].error
  + label
  svg
  circle:first-child {
  stroke: #ef4a5f;
  stroke-width: 2px;
  background-image: none;
  font: 400 0.875rem/1.5rem Roboto, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 500;
  background-color: rgba(239, 74, 95, 0.1) !important;
  border-color: #ef4a5f !important;
}

.formcontrol-textbox.error,
.formcontrol-textbox-withSideText.error {
  font: 400 0.875rem/1.5rem Roboto, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 500;
  background-color: rgba(239, 74, 95, 0.1);
  border-color: #ef4a5f;
}
